
.mainDivInAboutMyselfBlock{
    width: $maxw;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 10px 0px;
    @media (max-width : $dw) {
        width: 100%;
        flex-direction: column-reverse;
    }
}

.reverseClass{
    flex-direction: row-reverse;
    .aboutMyselfDiv{
        
        
        .bigText , .ordinaryText {
            text-align: left;
            margin: 10px 40px 0px 10px; 
        }
    }

    @media (max-width : $dw) {
        width: 100%;
        flex-direction: column-reverse;
    }
    
}
.projectPicture {
    width: 250px;
    height: 250px;
    background-color: white;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0px 3px 0 rgb(135 134 134 / 10%);
    transition: 300ms ease;
    background-repeat: no-repeat;
    background-position: center;
    

    @media (max-width : $dw) {
        margin-top: 20px;
        box-shadow: 0 1px 6px 0 rgb(135 134 134 / 30%);
    }      
}
.projectPicture:hover {
    box-shadow: 0 3px 11px 0 rgb(135 134 134 / 30%);
    transition: 300ms ease;
}

#projectPicture1 {
    background-image: url(./screenWeather.jpg);
}
#projectPicture2 {
    
    
    background-image: url(./vavSmall.jpg);
    background-repeat: no-repeat;
    background-position: center;


    
}


.aboutMyselfDiv {
    display: flex;
    flex-direction: column;
    @media (max-width:$dw) {
        width: 100%;
    }

    .bigText , .ordinaryText {
        text-align: right;
        margin: 10px 10px 0px 40px; 
        @media (max-width : $dw) {
           margin: 10px 10px;
           text-align: center;
        }
    }
    
}