.hello {
  margin-top: 50px;
  width: 1024px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .hello {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.hello__pictureDiv {
  flex: 0 0 250px;
  height: 250px;
  border-radius: 125px;
  background-image: url(./mainPic.jpg);
  background-size: cover;
  margin: 0px 25px;
  box-shadow: 0 0px 9px 0 rgba(151, 151, 151, 0.94);
}
@media (max-width: 1024px) {
  .hello__pictureDiv {
    width: 250px;
  }
}
.hello p {
  padding: 10px 40px 0px 10px;
  margin: 15px 20px 0px 0px;
}
@media (max-width: 1024px) {
  .hello p {
    text-align: center;
    padding: 10px 10px 0px 10px;
    margin: 10px 0px 10px 0px;
  }
}

.bigText {
  font-size: 35px;
  font-weight: 700;
}

.ordinaryText {
  font-size: 22px;
  font-weight: 300;
}

.menu {
  width: 100%;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  font-family: "Open Sans Condensed", sans-serif;
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  color: black;
  padding: 0px;
}
@media (max-width: 1024px) {
  .menu__list {
    justify-content: space-around;
  }
}
.menu__list li {
  margin: 0px 10px 0px 30px;
  list-style-type: none;
}
@media (max-width: 1024px) {
  .menu__list li {
    margin: 0px 10px;
  }
}
.menu__list a {
  text-decoration: none;
  color: black;
}

.careerMainDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 0px 9px 0 rgba(151, 151, 151, 0.14);
}
@media (max-width: 1024px) {
  .careerMainDiv {
    width: 95%;
    flex-direction: column;
    height: auto;
  }
}
.careerMainDiv .companyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0px 10px;
  width: 30%;
}
.careerMainDiv #companyName {
  font-size: 35px;
}
.careerMainDiv #companyWebsite {
  font-size: 25px;
}
.careerMainDiv #companyWebsite a {
  text-decoration: none;
}
.careerMainDiv #positionDecriptionDiv {
  background-color: whitesmoke;
  border-radius: 22px;
  height: auto;
  width: 80%;
  position: relative;
  overflow: hidden;
  transition: ease 200ms;
  padding: 0px 0px 5px 0px;
  margin: 0px 15px 0px 0px;
}
@media (max-width: 1024px) {
  .careerMainDiv #positionDecriptionDiv {
    width: 95%;
    margin: 10px 0px;
    height: auto;
  }
}
.careerMainDiv #positionDecriptionDiv #positionDuties {
  display: flex;
  transition: 300ms ease;
  align-items: center;
  margin: 0px 15px 0px 0px;
}
.careerMainDiv #positionDecriptionDiv .positionName {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
}
.careerMainDiv #positionDecriptionDiv .switch_button {
  position: absolute;
  top: 46%;
  width: 20px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 200ms;
  font-family: monospace;
}
.careerMainDiv #positionDecriptionDiv .switch_button:hover {
  background-color: white;
  transition: ease 200ms;
}
@media (max-width: 1024px) {
  .careerMainDiv #positionDecriptionDiv .switch_button:hover {
    background-color: white;
  }
}
.careerMainDiv #positionDecriptionDiv #next {
  right: 0px;
  border-radius: 5px 0px 0px 5px;
}

.sliderElement {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.sliderElement p {
  padding: 0px 20px;
  text-align: center;
  margin: 5px 0px;
}

.mainDivInAboutMyselfBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}
@media (max-width: 1024px) {
  .mainDivInAboutMyselfBlock {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.reverseClass {
  flex-direction: row-reverse;
}
.reverseClass .aboutMyselfDiv .bigText, .reverseClass .aboutMyselfDiv .ordinaryText {
  text-align: left;
  margin: 10px 40px 0px 10px;
}
@media (max-width: 1024px) {
  .reverseClass .aboutMyselfDiv .bigText, .reverseClass .aboutMyselfDiv .ordinaryText {
    margin: 10px 10px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .reverseClass {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.projectPicture {
  width: 250px;
  height: 250px;
  background-color: white;
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 0px 3px 0 rgba(135, 134, 134, 0.1);
  transition: 300ms ease;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1024px) {
  .projectPicture {
    margin-top: 20px;
    box-shadow: 0 1px 6px 0 rgba(135, 134, 134, 0.3);
  }
}

.projectPicture:hover {
  box-shadow: 0 3px 11px 0 rgba(135, 134, 134, 0.3);
  transition: 300ms ease;
}

#projectPicture1 {
  background-image: url(./screenWeather.jpg);
}

#projectPicture2 {
  background-image: url(./vavSmall.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.aboutMyselfDiv {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .aboutMyselfDiv {
    width: 100%;
  }
}
.aboutMyselfDiv .bigText, .aboutMyselfDiv .ordinaryText {
  text-align: right;
  margin: 10px 10px 0px 40px;
}
@media (max-width: 1024px) {
  .aboutMyselfDiv .bigText, .aboutMyselfDiv .ordinaryText {
    margin: 10px 10px;
    text-align: center;
  }
}

#mainFooterDiv {
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 0 0px 9px 0 rgba(151, 151, 151, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainFooterDiv p {
  text-align: center;
}

body {
  margin: 0px auto;
  width: 1024px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f5f5;
  color: rgb(80, 80, 80);
  font-family: "Open Sans Condensed", sans-serif;
}
@media (max-width: 1024px) {
  body {
    width: 100%;
  }
}

#headerMainDiv {
  width: 100%;
  height: 80px;
}

.menu {
  width: 100%;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  font-family: "Open Sans Condensed", sans-serif;
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  color: black;
  padding: 0px;
}
@media (max-width: 1024px) {
  .menu__list {
    justify-content: space-around;
  }
}
.menu__list li {
  margin: 0px 10px 0px 30px;
  list-style-type: none;
}
@media (max-width: 1024px) {
  .menu__list li {
    margin: 0px 10px;
  }
}
.menu__list a {
  text-decoration: none;
  color: black;
}

#bodyMainDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.career {
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
@media (max-width: 1024px) {
  .career {
    height: auto;
    padding: 10px 0px;
    flex-direction: column;
  }
}

.aboutMyself {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footerDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .footerDiv {
    width: 97%;
  }
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */